.button {
  display: block;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;

  font-weight: bold;
  text-align: center;
  color: #3D309E;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;

  background-color: transparent;
  border: 1px solid #3D309E;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    background-color: #E51818;
    color: #ffffff;
    border: 1px solid #E51818;
  }
}

.button--red {
  color: #ffffff;
  background-color: #F53838;
  border: none;
  border: 1px solid #F53838;
  box-shadow: 0px 0px 30px 5px rgba(245,56,56,0.25)
}

.button--login {
  width: 110px;
}

.button--choose {
  width: 126px;
}

.button--more {
  width: 146px;
}