.intro {
    padding-bottom: 17px;
    background-color: #5447A5;
    background-image: url('../img/intro-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
	  background-image: url("../img/intro-bg@2x.png");
	  background-size: cover;
    }
}

.intro__wrapper {
	padding-top: 180px;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		display: block;
		width: 291px;
		height: 156px;
		top: 16px;
		left: 50%;
		transform: translateX(-50%);
		background-image: url('../img/computer.png');
		@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
		  background-image: url("../img/computer@2x.png");
		  background-size: 291px 156px;
	    }
	}
}

.intro__text {
	font-weight: 500;
	color: #FFFFFF;
	margin: 0;
	margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .intro {	
  	padding-bottom: 50px;
	  background-image: url('../img/intro-bg-desktop.png');
	  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
		 background-image: url("../img/intro-bg-desktop@2x.png");
	  }
  }

  .intro__wrapper {
  	padding-top: 50px;
  	padding-right: 400px;
	position: relative;
	&::before {
		left: auto;
		transform: translateX(0);
		top: 50px;
		right: 16px;	
	}
  }
}

@media (min-width: $desktop-width) {
  .intro {
  	padding-bottom: 87px;
  }

  .intro__wrapper {
  	padding-top: 64px;
  	padding-right: 580px;
  	&::before {
  		top: 106px;
  		width: 557px;
		height: 298px;
		background-image: url('../img/computer-desktop.png');
		@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
		  background-image: url("../img/computer-desktop@2x.png");
		  background-size: 557px 298px;
	    }
  	}
  }

  .intro__text {
  	font-size: 20px;
	line-height: 32px;
	margin-bottom: 55px;
  }
}
