.modal {
	padding-top: 40px;
	padding-bottom: 16px;
	text-align: center;
	background-color: #3E3291;
	color: #ffffff;
}

.modal__wrapper {
	width: 320px;
	padding: 0 16px;
	margin: 0 auto;
}

.modal__title {
	margin-bottom: 8px;
}

.modal__text {
	margin: 0;
	margin-bottom: 24px;
}

.modal__text a {
	color: #ffffff;
}

.modal--check .modal__text {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 10px;
}

.modal__error-text {
	display: none;
	margin-top: 5px;
	color: #EF5350;
	font-size: 12px;
	line-height: 16px;
	text-align: left;
}

.modal__form {
	width: 288px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 48px;
}

.modal--check .modal__form {
	margin-bottom: 30px;
}

.modal__warning-wrap {
	padding-top: 16px;
	border-top: 1px solid #2F217F;
}

.modal__input {
	font: inherit;
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 16px;
	padding-bottom: 14px;
	background-color: #ffffff;
	border-radius: 4px;
	border: 3px solid transparent;
	outline: none;
	&:placeholder {
		font-family: "Museo Sans Cyrl", "Arial", sans-serif;
		color: rgba(17, 17, 17, 0.48);
		font-weight: 500;
	}
}

.modal__input--error {
	border: 3px solid #EF5350;
}

.modal--check .modal__input {
	margin-bottom: 16px;
}

.modal__button {
	width: 111px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
}

.modal--check .modal__button {
	margin-top: 0px;
}

.modal__warning {
	width: 282px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 16px;
}

.modal__form-wrap {
	display: flex;
	flex-wrap: wrap;
	width: 310px;
	margin: 0 auto;
}

.modal__input-number {
	display: block;
	border: none;
	width: 44px;
	height: 44px;
	margin-right: 16px;
	padding: 10px 15px;
	font-weight: 500;
	text-align: center;
	outline: none;
	 -moz-appearance:textfield;
	&:last-of-type {
		margin-right: 0;
	}
}

.modal__input-number::-webkit-outer-spin-button,
.modal__input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.modal__repeat-link {
	display: block;
	color: #ffffff;
	font-family: "Museo Sans Cyrl", "Arial", sans-serif;
	font-weight: 600;
	margin-top: 16px;
	margin-bottom: 16px;
}

@media (min-width: 591px) {
	.modal {
		width: 591px;
		padding-top: 56px;
		padding-bottom: 16px;
	}

	.modal__wrapper {
		padding: 0 63px; 
		width: 591px;
	}

	.modal__title {
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 16px;
	}

	.modal--check .modal__title {
		margin-bottom: 8px;
	}

	.modal__text {
		margin-left: auto;
		margin-right: auto;
		width: 392px;
		margin-bottom: 32px;
		font-size: 18px;
		line-height: 27px;
	}

	.modal--check .modal__text {
		width: 442px;
		font-size: 18px;
		line-height: 27px;
		margin-bottom: 32px;
	}

	.modal__form {
		width: 347px;
		margin-bottom: 67px;
	}

	.modal--check .modal__form {
		width: 310px;
		margin-bottom: 23px;
	}

	.modal__warning {
		width: 405px;
		line-height: 18px;
	}

	.modal__repeat-link {
		margin-bottom: 24px;
	}

	.modal__input-number {
		width: 49px;
		height: 49px;
		padding: 10px 20px;
		font-size: 16px;
		line-height: 18px;
	}
}